<html>
	<head>
	</head>

	<body>
		<h1 style="font-size: 50px">Campaign Menu</h1>
		
		<a href="leafletCreateMap.html" style="font-size: 40px">Create a New Campaign</a>
		<br><br>
		<a href="leafletViewMap.html" style="font-size: 40px">View an Existing Campaign</a>
		
<!--		<form action="leafletCreateMap.html">
			<br><input type="submit" value="Create a New Campaign">
		</form>
		
		
		<form action="leafletViewMap.html">
			<br><input type="submit" value="View an Existing Campaign">
		</form>
-->	

	</body>

</html>