<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AndroidCampaigns</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/userapp/ext/build/ext-all.js"></script>
    <script src="/static/userapp/ext/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/static/css/sepelogo.png" alt="AndroidCampaigns"/>
            <a class="navbar-brand"></a>
        </div>
        <div class="collapse navbar-collapse">
            <form th:object="${user}" id="logoutForm" action="/logout" method="post">
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/citizenProfile">
                        <div th:text="*{username}"/>
                    </a></li>
                    <li><a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Έξοδος</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/userapp/resources/MyApp-all.css"/>
<div id='loading-mask'></div><div id='loading'><div class='loading-indicator'>Έναρξη Εφαρμογής...</div></div>
<script type="text/javascript" src="/static/userapp/employee.js"></script>
<script type="text/javascript">Ext.onReady(function() {  setTimeout(function(){  Ext.get('loading').remove();  Ext.get('loading-mask').fadeOut({remove:true}); }, 250);}); </script>
</body>
</html>
