<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <title>AndroidCampaigns</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/static/css/sepelogo.png" alt="AndroidCampaigns"/>
            <a class="navbar-brand"></a>
        </div>
        <div class="collapse navbar-collapse">

            <form id="logoutForm" action="/logout" method="post">
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}">Είσοδος</a></li>
                    <!--<li><a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Έξοδος</a>
                    </li>-->
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="container main-container">
        <div class="row padded-bottom"/>
        <div class="row" th:if="${profileSaveError}">
            <div class="center-block" style="color: red;" th:text="${profileSaveError}"/>
        </div>

        <div class="row padded-bottom"/>
        <form th:action="@{/passwordreset}" method="post">
            <div class="row">
                <div class="center-block center-content">
                    <label> Email Χρήστη: <input class="form-control" type="text" name="email"/> </label>
                </div>
            </div>
            <div class="row">
                <div class="center-block center-content">
                    <button class="btn btn-default" type="submit">Δημιουργία Κωδικού</button>
                </div>
            </div>
            <div class="row padded-bottom"/>
        </form>
    </div>
</div>
</body>
</html>
