<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Εγγραφή</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/static/css/sepelogo.png" alt="AndroidCampaigns"/>
            <a class="navbar-brand"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/login">Είσοδος</a></li>
            </ul>
            <form id="logoutForm" action="/logout" method="post">
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/adminProfile"><div th:text="${user.username}"/></a></li>
                    <li><a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Έξοδος</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="container main-container">
        <form th:object="${user}" action="/register/save" method="post" accept-charset="utf-8">
            <!-- <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}"/>-->

            <div class="row">
                <div class="center-block center-content">
                    <h2>Δημιουργία Νέου Λογαριασμού</h2>
                </div>
            </div>
            <br />
            <div class="row" th:if="${profileSaveError}">
                <div class="center-block" style="color: red;" th:text="${profileSaveError}"/>
            </div>
            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Email:
                </div>
                <div class="col-sm-6 rightcolumn">
                    <input class="form-control" type="text" th:field="*{email}" maxlength="50" size="30" />
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
                </div>
            </div>
            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Όνομα Χρήστη:
                </div>
                <div class="col-sm-6 rightcolumn">
                    <input class="form-control" type="text" th:field="*{username}" maxlength="50" size="30"/>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</td>
                </div>
            </div>
            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Κωδικός:
                </div>
                <div class="col-sm-6 rightcolumn">

                    <input class="form-control" type="password" th:field="*{password}" maxlength="20" size="30"/>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</td>
                </div>
            </div>
            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Όνομα:
                </div>
                <div class="col-sm-6 rightcolumn">
                    <input class="form-control" type="text" th:field="*{firstname}" maxlength="20" size="30"/>
                    <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">firstname Error</td>
                </div>
            </div>
            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Επίθετο:
                </div>
                <div class="col-sm-6 rightcolumn">
                    <input class="form-control" type="text" th:field="*{lastname}" maxlength="20" size="30"/>
                    <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname Error</td>
                </div>
            </div>

            <div class="row padded-bottom">
                <div class="col-sm-6 leftcolumn">
                    Ρόλος:
                </div>
                <div class="col-sm-6 rightcolumn">
                    <select th:field="*{role}" onchange="displayAfmAme(this.value);">
                        <option th:value="2">Πολίτης</option>
                        <option th:value="1">Εργαζόμενος</option>
                        <option th:value="3">Εταιρεία</option>
                        <option th:value="4">Τεχνικός ασφάλειας</option>
                        <option th:value="5">Ιατρός εργασίας</option>
                        <option th:value="6">Σωματείο</option>
                        <option th:value="0">Admin</option>
                    </select>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function displayAfmAme(value)
                    {
                        if(value == '3') {
                            $(this).append('\
                        <div class="row padded-bottom">\
                                <div class="col-sm-6 leftcolumn">\
                                    AFM:\
                                </div>\
                                <div class="col-sm-6 rightcolumn">\
                                    <input class="form-control" type="text" th:field="*{afm}" maxlength="20" size="30"/>\
                                </div>\
                            </div>\
                            <div class="row padded-bottom">\
                                <div class="col-sm-6 leftcolumn">\
                                    AME:\
                                </div>\
                                <div class="col-sm-6 rightcolumn">\
                                    <input class="form-control" type="text" th:field="*{ame}" maxlength="20" size="30"/>\
                                </div>\
                            </div>\
                            ');
                        }
                    }
                    /*]]>*/
                </script>
            </div>
            <br />
            <div class="row">
                <div class="center-block center-content">
                    <button class="btn btn-default" type="submit">Εγγραφή</button>
                </div>
            </div>
            <div class="row padded-bottom"/>
        </form>
    </div>
</div>
</body>
</html>
